@font-face {
    font-family:Catamaran-bold ;
    src: url(../fonts/Catamaran-Bold.ttf);
  }
  @font-face {
    font-family:Catamaran ;
    src: url(../fonts/Catamaran-Regular.ttf);
  }
html, body {
    font-family: Catamaran ;
    scroll-behavior: smooth;
    background-color: #E5E5E5;
}
h1, h2, h3, h4, h5 {
    font-family: Catamaran-bold ;
    font-weight: bold;
    
}
h1 {
    font-size: 4.5rem !important;
}
h4 {
    font-size: 2.5rem !important;
}
h5 {
    font-size:2rem !important;
}
header
{
  width:100%;
  height: auto;
  background:#0278B6;
  background-size: cover;
  padding-bottom: 40px;

}
.container
{   
 width:80%;
 margin:0 auto;
}
.containerNavbar
{   
 width:90%;
 margin:0 auto;
}
.logo
{
	display: block;
	float: left;
    width: 158px;
    height: 43px;
}


.One .left-block {
   
    color:white;
    margin-top: 10%;
}
.One .left-block h1 {
    font-size: 52px;
}
.One .left-block a {
    color: #fff;
    margin-top: 20px;
    font-weight: 600;
    background-color:#FF8E4E;
    padding-top:12px !important;
    padding-bottom:12px !important;
    padding-left:30px !important;
    padding-right:30px !important;
    border-color:#FF8E4E;
}
.One .left-block a:hover {
        background-color: transparent;
        color: #FF8E4E;
        border-color: #FFFFFF;
        background-color:#FFFFFF;
}
.One .left-block p {
    font-size: 22px;
    margin-top: 20px;
    display: block;
    width: 77%;
}
.One .right-block {
    margin-top: 10%;
    
}
img{
    display: block;
    width: 100%;
}

.navbar {
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 6;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
   
  }

  .sidenav a {
    padding: 8px 8px 0px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #000;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .navbar span {
      color: #0278B6;
      font-size: 30px;
      cursor: pointer;
  }
 .sidenav .third {
     color: #0d6efd !important;
     font-weight: 600;
 }
 .Sidenav .inloggen{
     color: #FF8E4E !important;
     font-weight: 600;
 }
  .sidenav .third:hover {
     color: #FF8E4E;
 }
 .Sidenav .inloggen{
     color: #0d6efd !important;
   
 }
 .Two {
     width: 100%;
     height: auto;
    padding-top: 77px;
    padding-bottom: 77px;
    background-color: #fff;
 }

.Two .right-block {
  
    margin-top: 7%;
  
}
.Two .left-block {
    margin-right: 80px;
    padding-left: 0px;
}
.Two .right-block h1 {
   
    font-size:52px;
}

.Two .right-block p {
    margin-top: 20px;
    font-size: 22px;
}
.Two .right-block a {
    margin-top: 20px;
    background-color:#FF8E4E;
    padding-top:12px !important;
    padding-bottom:12px !important;
    padding-left:30px !important;
    padding-right:30px !important;
    border-color:#FF8E4E;
    color: white;
    font-weight: 600;
}
.Two .right-block a:hover {
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: #fff;
}
.Three {
    width: 100%;
    height: auto;
  text-align: center;
  background-color: #E5E5E5;
  padding-bottom: 30px;
}
.Three .row {
    margin: auto;
}
.Three h1 {
    font-size: 54px;
    padding-top: 29px;
    padding-bottom: 29px;
}
.Three .card {
    background-color: #027AB9;
    padding-bottom: 25px;
    border-radius: 45px;
    margin-bottom: 40px;
}
.Three .col-md-7 {

    margin: auto;
}
.Three img {
    width: 50%;
    margin: auto;
    padding-top: 32px;
    
}
.Three h2 {
    margin-bottom: 1.5rem;
}
.card-body {
    padding-top: 0;
}
.Three p {
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
}
.Three .second {
    background-color: #046192;
}
.Three .third {
    background-color: #004467;
}
.blog header {
    padding-bottom:15px;
}
.blog .One h1 {
    font-size: 90px;

}
.blog .left-block {
    margin-top: 190px;
}
.blog .right-block {
    margin-top: 97px;
    margin-left: 12%;
}

.blog .Two .card {
    border-radius: 1.25rem !important;
    margin-bottom: 65px !important;
    margin: auto;
}
.blog .Two .card:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    cursor: pointer;
}
.blog .Two .card-body {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 25px;
}
.blog .Two .card-body p {
margin-bottom: 7px;
}
.blog .Two .card-title {
    font-weight: 700;
}
.blog .Two a {
background-color: #0174B4;
width: 135px;
height: 41px;
font-size: 16px;
margin-top: 7px;
color: white;
}
.blog .Two a:hover {
    background-color: transparent;
    color: black;
    border-color: #0174B4 ;
}
footer {
    background-color: #282828;
    width: 100%;
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
    
}
footer a {
    color: white;
    text-decoration: none;
}
hr.rounded {
    border-top: 4px solid #fff;
    margin-top: 30px;
    opacity: 1;
  }
.post .One {
    margin-top: 3%;
}
.post header {
   padding-bottom: 0;
}
.post .Two h4{
    color: #003959;
}
.post .Two h5{
    color: #003959;
}
.post .block h5{
    font-family: Catamaran;
    font-weight: 600;
}
.block {
    margin-top: 60px;
}
.social-media {
    width: 20%;
}
.icons a {
    display: inline-block;
    width: 20%;
    margin-right: 10px;
}
.social-media p {
    color: #003959;
    font-weight: bold;
    margin-left: 5px;
}
.block .card {
    padding: 0;
    margin-right: 22px;
    border-radius: 45px !important;
    text-align: center;
}
.block .card:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    cursor: pointer;
}
.block a {
    text-decoration: none;
    color: #0480B7;
    font-weight: 600;
    font-size: 14px;
}
.block h2 {
    color: #003959;
    text-align: center;
    margin-bottom: 20px;
}
.block a:hover {
    color:black;
}
.comparing {
    background-color: #FF8E4E;
    color: white;
    height: auto;
    text-align: left;
    padding-top: 25px;
    padding-bottom: 40px;
}
.orange-button {
    margin-top: 20px;
    background-color: #FF8E4E;
    border-color: #FF8E4E ;
    color: white;
    font-weight: 600;

}
.orange-button:hover {
background-color: #fff;
color: #FF8E4E;
border-color: #FF8E4E;
}
.services {
    height: auto;
    background-color: white;
    padding-bottom: 60px;
}
.item {
    padding-top: 70px;
}
.services .orange-button {
    margin-top: 0px;
}
.services h1 {
        padding-top: 50px;
        font-size:50px;
        color: black;
}
.services h4 {
    color: #FF8E4E;
    font-weight: bold;
}
.about {
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-top: 60px;
    padding-top: 55px;
    padding-bottom: 55px;
    color: black;
}
.about p {
    font-weight: 400;
}
.FAQ header {
    background-color:#FF4E59;
    padding-bottom: 0;
    
}
.FAQ .One h1 {
    font-size: 100px;

}
.FAQ .left-block, .report .left-block {
    margin-top: 20%;
}
.FAQ .right-block, .aboutUs .right-block, .report .right-block {
    margin-top: 49px;
    margin-left: 8%;
}
.FAQ .Two {
    background-color: white;
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}
.FAQ .Two .row {
    padding-top: 30px;
}
.FAQ .Two h4 {
    padding-bottom: 10px;
}
.FAQ p {
    font-size: 1.5rem;
}
.testimony {
    background-color: #fff;
    margin-bottom: 80px;
}
.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	padding: 0 70px;
}
.carousel .carousel-item {
	color: #263238;
	font-size: 14px;
	text-align: left;
	overflow: hidden;
	min-height: 290px;
}

.carousel .testimonial {
	padding: 30px 0 10px;
    padding-top: 88px;
}
.carousel .overview {	
	font-style: italic;
    width:40%;
}
.carousel .overview b {
	text-transform: uppercase;
	color: black;
}
.carousel-control-prev, .carousel-control-next {
	width: 40px;
	height: 40px;
	margin-top: -20px;
	top: 50%;
	background: none;
    opacity: 1 !important;
}
.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
    opacity: .5 !important;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 43px;
	line-height: 42px;
	position: absolute;
	display: inline-block;
	color: #027AB9;
	text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
    
}
.carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 12px;
	height: 12px;
	margin: 1px 3px;
	border-radius: 50%;
	border: none;
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.quote {
    width: 4%;
    bottom: 0;
    position: absolute;
    right: 0;
    margin-bottom: 9%;
}

.aboutUs header {
    background-color:#7C4EFF;
    padding-bottom: 0;
    
}
.aboutUs .left-block {
    margin-top: 210px;
}
.aboutUs .left-block h1 {
    font-size: 60px;
}

.aboutUs .purple-button {
    background-color: #7C4EFF;
    color: white;
    border-color: #7C4EFF;
    font-weight: 600;
    margin-top: 20px;
}
.aboutUs .purple-button:hover {
    background-color: transparent;
    border-color: #7C4EFF;
    color: #7C4EFF;
}
.aboutUs .services {
    margin-bottom: 40px;
}
.aboutUs .services h4 {
    color: #7C4EFF;
}
.aboutUs .testimony {
    background-image: url('../images/star.png');
    background-position: left;
    background-repeat: no-repeat;
}
.aboutUs .carousel-control-prev i, .aboutUs .carousel-control-next i {
    color: #7C4EFF;
}
.award {
    background-color: #fff;
    border-radius: 45px;
    padding-top: 32px;
    margin: auto;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}
.award p {
    font-weight: 400;
    line-height: 30px;
}
.award span {
    color: #FFC100;
    font-weight: bold;
}
.award .btn {
    background-color:#FFC100;
    margin-top: 2.5rem;
    color: white;
    font-weight: 600;
    font-size: 19px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    
}
.award .btn:hover {
    background-color: transparent;
    border-color: #FFC100;
    color: #FFC100;
}
.award h1 {
    font-size: 3.5rem;
}
.awards-section {
    margin-bottom: 90px;
}
.awards-section .stars {
    background-image: url("../images/yellow-stars.png");
    height: 153px;
    background-repeat: no-repeat;
    background-position-x: 326px;
    background-position-y: -8px;
    padding-top: 38px;
}
.button-stars {
    background-image: url("../images/yellow-stars.png"),url("../images/yellow-stars.png");
    height: 153px;
    background-repeat: no-repeat;
    background-position-x: 361px,190px;
    background-position-y: -8px;
    padding-top: 21px;
}
.awards-img {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
}
.award-page header {
    background-color: #FFC100;
    padding-bottom: 0;
}
.award-page .right-block {
    margin-top: 3px;
    margin-left: 80px;
}

.award-page .left-block {
    margin-top: 15%;
    background-image: url("../images/white-stars.svg");
    background-repeat: no-repeat;
    background-position-x: 179px;
    background-position-y: 17px;
    padding-top: 59px;
}
.award-page .Two {
    background-color: #fff;
    line-height: 40px;
    font-size: 1.5rem;
    color: black;
    padding-bottom: 150px;
}
.award-page .bold-text {
    font-family: Montserrat-bold ;
    padding-top: 55px;
    padding-bottom: 55px;
}
.items {
    line-height: 26px;
    padding-bottom: 55px;
}
.items p {
    width: 60%;
    display: inline-block;
}
.items img {
    display: inline-block;
    width: 2%;
}
.yellow-bloc {
    background-color: #FFC100;
    border-radius: 45px;
    padding: 35px 35px 35px 35px;
}
.element {
    border-radius: 30px;
    background-color: white;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 55px;
    color:#0178B6;
    
}
.element-right {
    text-align: center;
    padding-left: 0;
    margin-left: 30px;
    
}
.head {
    color: #FFC100;
    font-family: Montserrat-bold;

}
.left-e {
    margin-left: 30px;
}
.works header {
    background-color: #FF8E4E;
    padding-bottom: 60px;
}
.works .One .left-block h1 {
    font-weight: bold;
}
.works .One .left-block {
    margin-top: 114px;
}
.works .One .left-block a {
    background-color: #fff;
    color:#FF8E4E;
}
.works .One .left-block a:hover {
    background-color: transparent;
    border-color: white;
    color: white;
}
.works .Two h1 {
    font-weight: bold;
    color: black;
    font-size:75px;
}
.works .Two p {
    font-size: 20px;
}
.works .Two {
    padding-top: 20px;
    padding-bottom: 70px;
}
.works .Three .card {
    background-color: #FF8E4E;
}
.works .Three .second {
    background-color: #FE772B;
}
.works .Three .third {
    background-color: #FD6109;
}
.works .testimony {
    background-image: url('../images/orange-star.png');
    background-position: left;
    background-repeat: no-repeat;
}
.works .carousel-control-prev i, .works .carousel-control-next i {
    color: #FFB573;
}
.works .testimony {
    margin-top: 50px;
}
.report header {
    background-color: #11CDA0;
    padding-bottom: 0;
}
.report .One h1 {
    font-size: 86px;
    font-weight: bold;
}
.report .right-block {
    margin-left: 0;
}
.report .Three .card {
    background-color: #11CDA0;
}
.report .Three .second {
    background-color: #0DAA84;
}
.report .Three .third {
    background-color: #087B5F;
}
.report .testimony {
    background-image: url('../images/green-star.png');
    background-position: left;
    background-repeat: no-repeat;
}
.report .carousel-control-prev i, .report .carousel-control-next i {
    color: #11CDA0;
}
.report .testimony {
    margin-top: 50px;
}
.service-detail .Two h5 {
    color: black;
    font-weight: bold;
    margin-top: 40px;
}
.service-detail .Two span {
    color: #0278B6;
   
}
.service-detail .Two {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 60px;
}
.service-detail p {
    font-size: 1.25rem;
}
.service-detail .services {
    margin-bottom: 60px;
}
.service-detail .right-block {
    margin-top: 10%;
    margin-left: 13%;
}
/******************** RESPONSIVITY ************************/
@media only screen and (max-width: 750px) {
    .services {
        text-align: center;
    }
   .services img{
       width: 50%;
       margin: auto;
       padding-bottom: 17px;
   }
   .One .left-block {
       margin-top: 110px;
   }
   .awards-section .stars {
    background-position-x: -20px;
   }
   .button-stars {
    background-position-x:  30px,-66px;
   }
   .award h1 {
        font-size: 2.5rem;
   }
   .award-page .right-block {
       margin-left: 0;
   }
   .items img {
       width: 4%;
       vertical-align: top;
   }
   .items p {
       width: 86%;
   }
   .element {
       padding-left: 0;
       text-align: center;
   }
   .left-e {
       margin-left: 13px;
   }
   .service-detail .right-block {
       margin-left: 0;
   }
   .element-right {
       margin-left: 15px;
   }
   .award-page .left-block {
    background-position-x: -42px;
    background-position-y: 31px;
   }
   .quote {
       width: 20%;
   }
   .container {
       width: 95%;
   }
  .award .btn {
      font-size:15px;
  }
  .navbar-brand img {
      width: 80%;
  }
  .report .One h1 {
      font-size: 60px;
  }
  .Three .row > * {
    padding-left: 0;
    padding-right: 0;
  }
  .social-media {
      width: 50%;
  }
  .icons a {
      width: 25%;
  }
  .block .card {
      margin-top: 15px;
  }
  .orange-button {
      font-size:1rem;
  }
  .comparing h1 {
      font-size: 54px !important;
  }
  }