@font-face {
    font-family:Montserrat-bold ;
    src: url(../fonts/Montserrat-Bold.ttf);
  }
  @font-face {
    font-family:Montserrat ;
    src: url(../fonts/Montserrat-Regular.ttf);
  }
html, body {
    font-family: Montserrat ;
    scroll-behavior: smooth;
    background-color: #E5E5E5;
}
h1, h2, h3, h4, h5 {
    font-family: Montserrat-bold ;
    
}
header
{
  width:100%;
  height: auto;
  background:#0278B6;
  background-size: cover;
  padding-bottom: 20px;

}
.container
{   
 width:80%;
 margin:0 auto;
}
.logo
{
	display: block;
	float: left;
    width: 158px;
    height: 43px;
}


.One .left-block {
   
    color:white;
    margin-top: 195px;
}
.One .left-block h1 {
    font-size: 48px;
}
.One .left-block a {
    color: #FF8E4E;
    margin-top: 20px;
    font-weight: 600;
}
.One .left-block a:hover {
        background-color: transparent;
        color: #FF8E4E;
        border-color: #FF8E4E;
        
}
.One .left-block p {
    font-size: 18px;
    margin-top: 20px;
}
.One .right-block {
    margin-top: 116px;
    
}
img{
    display: block;
    width: 100%;
}

.navbar {
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 6;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 0px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #000;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .navbar span {
      color: #0278B6;
      font-size: 30px;
      cursor: pointer;
  }
 .sidenav .third {
     color: #0174B4 !important;
     font-weight: 600;
 }
 .Two {
     width: 100%;
     height: auto;
    padding-top: 77px;
    padding-bottom: 77px;
    background-color: #fff;
 }

.Two .right-block {
  
    margin-top: 50px;
  
}
.Two .left-block {
    margin-right: 80px;
    padding-left: 0px;
}
.Two .right-block h1 {
   
    font-size:48px;
}
.cb {   
    clear: both;
}
.Two .right-block p {
    margin-top: 20px;
}
.Two .right-block a {
    margin-top: 20px;
    background-color: #FF8E4E;
    color: white;
}
.Two .right-block a:hover {
    background-color: transparent;
    border-color: #FF8E4E;
    color: #FF8E4E;
}
.Three {
    width: 100%;
    height: auto;
  text-align: center;
  background-color: #E5E5E5;
  padding-bottom: 30px;
}
.Three h1 {
    font-size: 48px;
    padding-top: 29px;
    padding-bottom: 29px;
}
.Three .card {
    background-color: #027AB9;
    padding-bottom: 25px;
    border-radius: 45px;
    margin-bottom: 40px;
}
.Three .col-md-7 {
    margin: auto;
}
.Three img {
    width: 50%;
    margin: auto;
    padding-top: 32px;
}
.Three h2 {
    margin-bottom: 1.5rem;
}
.card-body {
    padding-top: 0;
}
.Three p {
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
}
.Three .second {
    background-color: #046192;
}
.Three .third {
    background-color: #004467;
}
.blog header {
    padding-bottom:15px;
}
.blog .One h1 {
    font-size: 90px;

}
.blog .left-block {
    margin-top: 190px;
}
.blog .right-block {
    margin-top: 97px;
    margin-left: 12%;
}

.blog .Two .card {
    border-radius: 1.25rem !important;
    margin-bottom: 65px !important;
}
.blog .Two .card-body {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 25px;
}
.blog .Two .card-body p {
margin-bottom: 7px;
}
.blog .Two .card-title {
    font-weight: 700;
}
.blog .Two a {
background-color: #0174B4;
width: 135px;
height: 41px;
font-size: 16px;
margin-top: 7px;
color: white;
}
.blog .Two a:hover {
    background-color: transparent;
    color: black;
    border-color: #0174B4 ;
}
footer {
    background-color: #282828;
    width: 100%;
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
    
}
footer a {
    color: white;
    text-decoration: none;
}
hr.rounded {
    border-top: 4px solid #fff;
    margin-top: 30px;
    opacity: 1;
  }
.post .One {
    margin-top: 4.7%;
}
.post header {
   padding-bottom: 0;
}
.post .Two h4{
    color: #003959;
}
.post .Two h5{
    color: #003959;
}
.post .block h5{
    font-family: Montserrat;
    font-weight: 600;
}
.block {
    margin-top: 60px;
}
.social-media {
    width: 20%;
}
.icons a {
    display: inline-block;
    width: 20%;
    margin-right: 10px;
}
.social-media p {
    color: #003959;
    font-weight: bold;
    margin-left: 5px;
}
.block .card {
    padding: 0;
    margin-right: 22px;
    border-radius: 45px !important;
    text-align: center;
}
.block a {
    text-decoration: none;
    color: #0480B7;
    font-weight: 600;
    font-size: 14px;
}
.block h2 {
    color: #003959;
    text-align: center;
    margin-bottom: 20px;
}
.block a:hover {
    color:black;
}
.comparing {
    background-color: #5C29EE;
    color: white;
    height: auto;
    text-align: left;
    padding-top: 25px;
    padding-bottom: 40px;
}
.orange-button {
    margin-top: 20px;
    background-color: #FF8E4E;
    border-color: #FF8E4E ;
    color: white;
    font-weight: 600;

}
.orange-button:hover {
background-color: transparent;
color: #FF8E4E;
border-color: #FF8E4E;
}
.services {
    height: auto;
    background-color: white;
    padding-bottom: 60px;
}
.item {
    padding-top: 70px;
}
.services .orange-button {
    margin-top: 0px;
}
.services h1 {
        padding-top: 50px;
        font-size:50px;
        color: black;
}
.about {
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-top: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: black;
}
.FAQ header {
    background-color:#FF4E59;
    padding-bottom: 0;
    
}
.FAQ .One h1 {
    font-size: 100px;

}
.FAQ .left-block {
    margin-top: 183px;
}
.FAQ .right-block {
    margin-top: 49px;
    margin-left: 8%;
}
.FAQ .Two {
    background-color: white;
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}
.FAQ .Two .row {
    padding-top: 30px;
}
.FAQ .Two h4 {
    padding-bottom: 10px;
}